@use "./mixins" as *;
@use "./colors" as *;

.hamburger__container {
  position: absolute;
  right: rem(15);
  top: rem(10);
  z-index: 1;
}

.hamburger__button {
  position: relative;
  background-color: $color-white;
  height: rem(60);
  width: rem(60);
  border-radius: 50%;
  cursor: pointer;
}

.hamburger__line-group {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  align-items: center;
}

.hamburger__line {
  width: rem(30);
  height: 4px;
  background-color: $color-black;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
