@import "./layout.scss";
@import "./fonts.scss";

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: 30em) {
      @content;
    } // 480px
  }

  @if $breakpoint == md {
    @media only screen and (min-width: 48em) {
      @content;
    } // 768px
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 62em) {
      @content;
    } // 992px
  }

  @if $breakpoint == xl {
    @media only screen and (min-width: 75em) {
      @content;
    } // 1200
  }

  @if $breakpoint == xxl {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800
  }
}

$color-white: #fff;
$font-size-base-pixel: 16;

@function rem($value) {
  $remValue: calc($value / $font-size-base-pixel) + rem;
  @return $remValue;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-font-family {
  font-family: "Rubik";
  font-weight: normal;
  font-style: normal;
}

.secondary-font-family {
  font-family: "Chelsea Market";
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .secondary-font-family;
}

p {
  @extend .primary-font-family;
  font-size: rem(25);
}

.page-background__image {
  background-image: url("../../images/tld-bg-fixed.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.page-background__overlay {
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.page-container__main {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.page-marquee__container {
  @extend .flex-center;
  flex-direction: column;
  margin-top: rem(80);

  h1 {
    font-size: rem(70);
    text-align: center;
    margin-top: rem(40);
  }
}

.page-marquee__logo {
  font-size: rem(200);

  @include respond(sm) {
    font-size: rem(300);
  }

  @include respond(md) {
    font-size: rem(400);
  }

  @include respond(lg) {
    font-size: rem(400);
  }

  @include respond(xl) {
    font-size: rem(450);
  }

  @include respond(xxl) {
    font-size: rem(610);
  }
}

.page-content__row {
  margin: rem(60) auto;
}

.embed__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.embed__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed__video {
  aspect-ratio: 16 / 9;
}

.about-section p {
  text-indent: rem(33);

  @include respond(md) {
    text-indent: rem(53);
  }

  @include respond(xl) {
    text-indent: rem(73);
  }
}

.spotify-playlists {
  display: flex;
  flex-direction: column;

  @include respond(lg) {
    flex-direction: row;
  }
}

.spotify-player {
  width: 100%;
  display: inline-block;
  margin-right: rem(20);
  margin-bottom: rem(40);
  left: 0;
  width: 100%;
  height: 400px;
  position: relative;

  @include respond(lg) {
    width: 33%;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
