$font-size-base-pixel: 16;

$font-size-xs: rem(13);
$font-size-sm: rem(14);
$font-size-md: rem($font-size-base-pixel);
$font-size-lg: rem(18);
$font-size-xl: rem(20);

$font-size-h1: rem(56);
$font-size-h2: rem(40);
$font-size-h3: rem(32);
$font-size-h4: rem(24);
$font-size-h5: rem(22);
$font-size-h6: rem(18);
