@import "../global/mixins";
@import "../global/variables";
@import "../global/colors";
@import "../global/fonts";

h1 {
  font-size: rem(32);

  @include respond(md) {
    font-size: rem(40);
  }

  @include respond(xl) {
    font-size: $font-size-h1;
  }
}

h2 {
  font-size: rem(28);

  @include respond(md) {
    font-size: rem(32);
  }

  @include respond(xl) {
    font-size: $font-size-h2;
  }
}

h3 {
  font-size: rem(24);

  @include respond(md) {
    font-size: rem(28);
  }

  @include respond(xl) {
    font-size: $font-size-h3;
  }
}

p {
  font-size: rem(16);

  @include respond(md) {
    font-size: rem(16);
  }

  @include respond(xl) {
    font-size: $font-size-lg;
  }

  @include respond(xxl) {
    font-size: $font-size-h5;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-font-family {
  font-family: "Rubik";
  font-weight: normal;
  font-style: normal;
}

.secondary-font-family {
  font-family: "Chelsea Market";
  font-weight: normal;
  font-style: normal;
}

.tertiary-font-family {
  font-family: "MuseoModerno";
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: $color-white !important;
  width: 100vw;
  overflow: hidden;
}

h1 {
  @extend .secondary-font-family;
  font-family: "Chelsea Market";
}

h2,
h3,
h4,
h5,
h6 {
  @extend .primary-font-family;
}

p {
  @extend .secondary-font-family;
}

.page-background__image {
  background-image: url("../../images/green-promo-3840x2160.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page-background__overlay {
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.page-container__main {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

.page-marquee__container {
  @extend .flex-center;
  flex-direction: column;
  margin-top: rem(55);

  h1 {
    // font-family: "Chelsea Market";
    text-align: center;
    margin-top: rem(40);

    @include respond(xxl) {
      font-size: rem(70);
    }
  }
}

.page-marquee__logo {
  font-size: rem(200);

  @include respond(sm) {
    font-size: rem(300);
  }

  @include respond(md) {
    font-size: rem(400);
  }

  @include respond(lg) {
    font-size: rem(400);
  }

  @include respond(xl) {
    font-size: rem(450);
  }

  @include respond(xxl) {
    font-size: rem(610);
  }

  h1 {
  }
}

.page-content__row {
  margin: rem(60) auto;
}

.embed {
  max-width: 970px;
  margin: 0 auto;
}

.embed__container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.embed__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed__video {
  aspect-ratio: 16 / 9;
}

.about-section p {
  text-indent: rem(33);

  @include respond(md) {
    text-indent: rem(53);
  }

  @include respond(xl) {
    text-indent: rem(73);
  }
}

.spotify-playlists {
  display: flex;
  flex-direction: column;

  @include respond(lg) {
    flex-direction: row;
  }
}

.spotify-player {
  width: 100%;
  display: inline-block;
  margin-right: rem(20);
  margin-bottom: rem(40);
  left: 0;
  width: 100%;
  height: rem(240);
  position: relative;

  @include respond(md) {
    height: rem(270);
  }

  @include respond(lg) {
    width: 33%;
    margin-bottom: 0;
    height: rem(400);
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.album-showcase__item {
  width: rem(200);
  margin: rem(80) auto rem(80);

  @include respond(md) {
    width: rem(400);
  }

  @include respond(lg) {
    width: rem(500);
  }

  h2 {
    text-align: center;
    margin-top: rem(15);
  }
}

.button-list {
  @extend .flex-center;
  flex-direction: column;

  ul {
    margin-left: unset;
  }
}

.button {
  @extend .flex-center;
  width: rem(270);
  font-size: $font-size-md;
  margin: rem(20) rem(10);
  height: rem(45);
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: rem(50);
  transition: all 0.4s ease-in-out;
  padding: 0 rem(10);
  background-image: linear-gradient(
    to right,
    rgba(#fc6076, 0.7),
    rgba(#ff9a44, 0.7),
    rgba(#ef9d43, 0.7),
    rgba(#e75516, 0.7)
  );
  cursor: pointer;

  @include respond(md) {
    margin: rem(20);
    width: rem(400);
    height: rem(77);
    font-size: $font-size-h4;
  }

  @include respond(lg) {
    width: rem(500);
  }

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
      to right,
      rgba(#fc6076, 1),
      rgba(#ff9a44, 1),
      rgba(#ef9d43, 1),
      rgba(#e75516, 1)
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }

  &:focus {
    outline: none;
  }
}

.skeleton-loader {
  background-color: #eee;
  color: #eee;
  height: rem(250);
  width: 100%;

  @include respond(lg) {
    height: rem(500);
  }
}
